<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOT Information Form</title>
  <link rel="stylesheet" href="hrms.css">
  <link rel="stylesheet" href="sty.css">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
</head>
<style>
h2{
  margin-top: -25px;
}
</style>
<body>
                                                                        
    
   <form id="LotInfoForm"  class="form-container">
    <!-- Personal Information Section -->
    <input type="hidden" id="id" name="id" th:value="${lotinfo?.id}">
    <br>
    <h2>LOT Information Form</h2>
   <br><br>
    <div class="form-section active" id="section1"  >
     

      <!-- First Row -->
    
      <div class="form-row" >
        <div class="form-group">
         
          <label for="productuid">Product ID:</label>
          <select type="text" id="productuid" name="productuid" onchange="fetchProductDetails()" required th:if="${lotinfo == null or lotinfo.id == null}">
          <option value="">--Select Product ID--</option>
          <option th:each="productId : ${ProductIds}"
                  th:value="${productId}"
                  th:text="${productId}"></option>
         </select>
      </div>
      
      <div class="form-group">
        <br>
        <input type="text" id="productuid" name="productuid" th:value="${lotinfo?.productuid}" onchange="fetchProductDetails()" readonly th:if="${lotinfo?.id != null}">
    </div>

    <div class="form-group">
      <label for="productname">Product Name:</label>
      <input type="text" id="productname" name="productname" required>
    </div>
    
  
      </div>

      <!-- Second Row -->
      <div class="form-row">
        <div class="form-group">   
          <label for="productcategory">Product Category:</label>
          <input type="text" id="productcategory" name="productcategory" required>
      </div>
    
        <div class="form-group">
          <label for="productsubcategory">Product Category:</label>
          <input type="text" id="productsubcategory" name="productsubcategory" required>
      </div>

      <div class="form-group">
        <label for="productquantity">Product Quantity:</label>
        <input type="number" id="productquantity" name="productquantity" th:value = "${lotinfo?.productquantity}" required>
    </div>

    
    
       
    
      </div>
      <!-- Third Row -->
      <div class="form-row">

        <div class="form-group">
          <label for="warehouseuid">Warehouse ID:</label>
            <select type="text" id="warehouseuid" name="warehouseuid" onchange="fetchwarehouseDetails()" required th:if="${lotinfo == null or lotinfo.id == null}">
            <option value="">--Select Warehouse ID--</option>
            <option th:each="warehouseuid : ${WaerhouseUids}"
                    th:value="${warehouseuid}"
                    th:text="${warehouseuid}"></option>
            </select>


      </div>
    

        <div class="form-group">
          <br>
          <input type="text" id="warehouseuid" name="warehouseuid" th:value="${lotinfo?.warehouseuid}" onchange="fetchwarehouseDetails()" readonly th:if="${lotinfo?.id != null}">
           
      </div>
      
        <div class="form-group">
          <label for="warehouselocation">Warehouse Location:</label>
          <input type="text" id="warehouselocation" name="warehouselocation" required>
      </div>

          
      </div>

      <!-- four Row -->

   
    </div>

   <!-- Five Row  -->
   

 


    <div class="form-actions">
      <button type="button" id="submitBtn"  onclick="submitForm()">Submit </button>
			<div th:if="${successMessage}" class="success-message" th:text="${successMessage}"></div>                       
    </div>
  







   </form>



   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
    
    function submitForm() {
        const formData = new FormData(document.getElementById('LotInfoForm'));
        const id = $('#id').val();

        let url, successMessage;

        if (!id) {
            url = '/lotinfo';
            successMessage = 'LotInfo saved successfully!';
        } else {
            url = '/updatelotinfo';
            successMessage = 'LotInfo updated successfully!';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                $('#message').text(successMessage);
                resetForm();
                window.location.href = '/viewlotinfolist';
            },
            error: function() {
                alert('Error saving batch. Please fill out all required fields.');
            }
        });
    }

    function resetForm() {
        $('#LotInfoForm')[0].reset();
        $('#id').val('');
        $('#message').text('');
        $('#form-title').text('Lot Information Form');
        $('#submitBtn').text('Submit');
    }
    
    
    $(document).ready(function() {
	    // Auto-fill Item details when updating
	    var existingproductuid = $('#productuid').val();
	    if (existingproductuid) {
	    	fetchProductDetails(existingproductuid);
	    }
	});
    
    function fetchProductDetails() {
        const productuid = $('#productuid').val() ;

        if (!productuid) {
            alert("Please select a Product ID.");
            return;
        }

            $.ajax({
                url: '/getproductdetailsinlot',
                method: 'GET',
                data: { productuid: productuid },
                success: function (response) {
                    console.log("Response from server:", response);  // Log the response
                    if (response && response.length > 0) {
                        const ProductDetail = response[0];
                        $('#productname').val(ProductDetail.productname || '');
                        $('#productcategory').val(ProductDetail.productcategory || '');
                        $('#productsubcategory').val(ProductDetail.productsubcategory || '');
                    } else {
                        alert("No details found for the selected Product ID.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching Product details:", error);
                    alert("An error occurred while fetching the Product details.");
                }
            });
        }

    
    $(document).ready(function() {
	    // Auto-fill Item details when updating
	    var existingwarehouseuid = $('#warehouseuid').val();
	    if (existingwarehouseuid) {
	    	fetchwarehouseDetails(existingwarehouseuid);
	    }
	});
    
    function fetchwarehouseDetails() {
        const warehouseuid = $('#warehouseuid').val() ;

        if (!warehouseuid) {
            alert("Please select a Warehouse ID.");
            return;
        }

            $.ajax({
                url: '/getwarehousedetailsinlot',
                method: 'GET',
                data: { warehouseuid: warehouseuid },
                success: function (response) {
                    console.log("Response from server:", response);  // Log the response
                    if (response && response.length > 0) {
                        const WarehouseDetail = response[0];
                        $('#warehouselocation').val(WarehouseDetail.warehouselocation || '');
                    } else {
                        alert("No details found for the selected Warehouse ID.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching Warehouse details:", error);
                    alert("An error occurred while fetching the Warehouse details.");
                }
            });
        }

    
    </script>





  


</body>
</html>
